.header {
  background-color: #fbf4f9;
  position: sticky;
  top: 0;
  z-index: 9999;
}
.header .navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  align-items: center;
}
.header .nav-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 35px;
  align-items: center;
  font-family: "helvetica-neue", serif;
}
.header .nav-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.main {
  background-color: #fbf4f9;
}

.hero-section-1 {
  padding: 30px 50px 0 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 26px;
  background-color: #fbf4f9;
}
.hero-section-1-banner {
  width: 60%;
}
.hero-section-1-banner img {
  width: 100%;
}
.hero-section-1-text {
  width: 50%;
  padding-top: 52px;
  padding-bottom: 52px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.hero-section-1-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hero-section-1-text-wrapper .text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.hero-section-1-text-wrapper .text p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24.42px;
  letter-spacing: 5%;
}
.hero-section-1-text-wrapper .text h1 {
  font-weight: 600;
  font-size: 80px;
  line-height: 104px;
}
.hero-section-1-text-wrapper .button {
  display: flex;
  gap: 40px;
  align-items: center;
}
.hero-section-1-text-wrapper .button button {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #482f28;
  color: white;
  border-radius: 18px;
  padding: 15px 45px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}
.hero-section-1-text-product {
  display: flex;
  gap: 25px;
}

.hero-section-2 {
  padding-top: 80px;
  width: 100%;
  display: flex;
}
.hero-section-2-text {
  width: 50%;
  padding: 50px 55px 46px 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.hero-section-2-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.hero-section-2-text-wrapper .text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-section-2-text-wrapper .text-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero-section-2-text-wrapper .text-1 p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24.42px;
  letter-spacing: 5%;
}
.hero-section-2-text-wrapper .text-1 h2 {
  font-weight: 600;
  font-size: 60px;
  line-height: 70px;
}
.hero-section-2-text-wrapper .text-2 {
  display: flex;
  gap: 10px;
}
.hero-section-2-text-wrapper .text-2 p:first-child {
  font-size: 45px;
  font-weight: 700;
  line-height: 54.94px;
  color: #ee8dae;
}
.hero-section-2-text-wrapper .text-2 p:nth-child(2) {
  font-size: 28px;
  font-weight: 400;
  line-height: 33.4px;
  text-decoration: line-through;
  display: flex;
  align-items: end;
}
.hero-section-2-text-wrapper .text-3 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.hero-section-2-text-wrapper .text-3 p {
  color: #606060;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: 5%;
}
.hero-section-2-text-wrapper .button {
  display: flex;
  gap: 35px;
}
.hero-section-2-text-wrapper .button .btn1 {
  display: flex;
  gap: 30px;
  border: none;
  background-color: white;
  padding: 13px 30px;
  border-radius: 18px;
  align-items: center;
}
.hero-section-2-text-wrapper .button .btn1 p {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}
.hero-section-2-text-wrapper .button .btn1 button {
  border-style: none;
  background-color: white;
}
.hero-section-2-text-wrapper .button .btn1 button img {
  background-color: white;
}
.hero-section-2-text-wrapper .button .btn2 button {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #482f28;
  color: white;
  border-radius: 18px;
  padding: 15px 45px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}
.hero-section-2-text-review {
  display: flex;
  gap: 20px;
}
.hero-section-2-text-review .star-review {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 24px 61px;
  background-color: white;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}
.hero-section-2-text-review .star-review .p1 {
  font-size: 25px;
  font-weight: 500;
  line-height: 34.19px;
}
.hero-section-2-text-review .star-review .p2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.47px;
  color: #606060;
}
.hero-section-2-text-review .shop-pay {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 22px 28px;
  background-color: white;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}
.hero-section-2-text-review .shop-pay div {
  display: flex;
  justify-content: center;
}
.hero-section-2-text-review .shop-pay p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 400;
  line-height: 23.8px;
}
.hero-section-2-banner {
  width: 50%;
}
.hero-section-2-banner img {
  width: 100%;
  height: 100%;
}

.hero-section-3 {
  padding: 80px 50px;
  display: flex;
  justify-content: space-between;
  gap: 116px;
  display: none;
}
.hero-section-3-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 90px;
}
.hero-section-3-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero-section-3-text-wrapper p {
  font-size: 20px;
  font-weight: 500;
  line-height: 24.42px;
}
.hero-section-3-text-wrapper h3 {
  font-size: 60px;
  font-weight: 600;
  line-height: 65px;
}
.hero-section-3-text-review {
  display: flex;
  gap: 10px;
}
.hero-section-3-text-review p {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.98px;
}
.hero-section-3-text-review p span {
  color: #606060;
}
.hero-section-3-text-free {
  padding-left: 320px;
  position: relative;
  top: -100px;
}

.product-type-section {
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: space-between;
}
.product-type-section-text {
  display: flex;
  justify-content: center;
  font-size: 70px;
  font-weight: 600;
  line-height: 91px;
  align-items: center;
}
.product-type-section-products {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.product-type-section-products .product-1 {
  display: flex;
  flex-direction: column;
}
.product-type-section-products .product-1 .bg1 {
  background-image: url(../images/product-type-section/box-1.png);
}
.product-type-section-products .product-1 .bg2 {
  background-image: url(../images/product-type-section/box-2.png);
}
.product-type-section-products .product-1 .bg3 {
  background-image: url(../images/product-type-section/box-3.png);
}
.product-type-section-products .product-1 .bg4 {
  background-image: url(../images/product-type-section/box-4.png);
}
.product-type-section-products .product-1 .product-details {
  display: flex;
  gap: 15px;
  padding: 0 10px 50px 20px;
  background-repeat: no-repeat;
  background-position-y: bottom;
  border-radius: 30px;
}
.product-type-section-products .product-1 .product-details .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: end;
}
.product-type-section-products .product-1 .product-details .text p:nth-child(1) {
  font-size: 30px;
  font-weight: 700;
  line-height: 37.5px;
}
.product-type-section-products .product-1 .product-details .text p:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  color: #606060;
  line-height: 16.7px;
}
.product-type-section-products .product-1 .product-details .text p:nth-child(3) {
  font-size: 22px;
  font-weight: 700;
  line-height: 26.86px;
  color: #ee8dae;
}
.product-type-section-products .product-1 .product-details .image1 {
  position: relative;
  left: 18px;
}
.product-type-section-products .product-1 .button {
  display: flex;
  justify-content: center;
}
.product-type-section-products .product-1 .button button {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #482f28;
  color: white;
  border-radius: 18px;
  padding: 15px 40px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  position: relative;
  top: -40px;
}

.learn-more-section {
  padding: 0px 50px 60px 50px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
}
.learn-more-section-text {
  width: 50%;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.learn-more-section-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.learn-more-section-text-wrapper .text-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.learn-more-section-text-wrapper .text-1 p {
  font-size: 20px;
  font-weight: 500;
  line-height: 24.42px;
}
.learn-more-section-text-wrapper .text-1 h5 {
  font-size: 70px;
  font-weight: 600;
  line-height: 91px;
}
.learn-more-section-text-wrapper .text-1 span {
  font-size: 26px;
  font-weight: 500;
  line-height: 31.75px;
}
.learn-more-section-text-wrapper .text-2 p {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}
.learn-more-section-text-wrapper .text-3 p {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}
.learn-more-section-text-button button {
  display: flex;
  align-items: center;
  background-color: #482f28;
  color: white;
  border-radius: 18px;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}
.learn-more-section-image {
  width: 50%;
}
.learn-more-section-image img {
  width: 100%;
}

.result-section {
  padding: 0px 50px 60px 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.result-section-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.result-section-text p:nth-child(1) {
  font-size: 20px;
  font-weight: 500;
  line-height: 24.42px;
}
.result-section-text p:nth-child(2) {
  font-size: 70px;
  font-weight: 600;
  line-height: 91px;
}
.result-section-text p:nth-child(3) {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  display: flex;
  align-items: center;
}
.result-section-image {
  display: flex;
  justify-content: space-between;
}

.container-a {
  max-width: 1440px;
  margin: 0 auto;
}

.details-section {
  background-color: white;
}
.details-section-wrapper {
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  gap: 48px;
  align-items: center;
}
.details-section-wrapper .detail {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}
.details-section-wrapper .detail .image {
  height: 58px;
  width: 58px;
  background-color: #FFEFEB;
  border-radius: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  justify-items: center;
  align-items: center;
}
.details-section-wrapper .detail .image img {
  padding: 15px;
}
.details-section-wrapper .detail .text p {
  font-size: 16px;
  line-height: 33px;
  font-weight: 600;
}

.video-section {
  padding: 50px 50px;
  width: 100%;
}
.video-section-image img {
  width: 100%;
}

.review-section {
  background: linear-gradient(60.5deg, #f7c894 0%, #f9d4ab 14%, #fbe7cf 39%, #fdf4ea 62%, #fffcf9 84%, #ffffff 100%);
}
.review-section-text {
  padding: 90px;
  display: flex;
  gap: 35px;
  align-items: center;
}
.review-section-text-1 {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.review-section-text-1-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.review-section-text-1-wrapper-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.review-section-text-1-wrapper-1 p:nth-child(1) {
  font-weight: 500;
  font-size: 20px;
  line-height: 24.42px;
}
.review-section-text-1-wrapper-1 p:nth-child(2) {
  font-weight: 600;
  font-size: 70px;
  line-height: 91px;
}
.review-section-text-1-wrapper-1 p:nth-child(3) {
  font-weight: 500;
  font-size: 26px;
  line-height: 31.75px;
}
.review-section-text-1-wrapper-2 p {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}
.review-section-text-1-review {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.review-section-text-1-review-star {
  display: flex;
  gap: 10px;
}
.review-section-text-2 img:nth-child(2) {
  position: relative;
  top: -315px;
  left: 40px;
}
.review-section-text-2 img:nth-child(3) {
  position: relative;
  top: -315px;
  left: 370px;
}
.review-section-text-2 img:nth-child(4) {
  position: relative;
  top: -315px;
  left: 370px;
}
.review-section-text-2 img:nth-child(5) {
  position: relative;
  top: -315px;
  left: 370px;
}
.review-section-text-2-review {
  box-shadow: -10px 20px 45px -20px;
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
.review-section-text-2-review-wrapper {
  padding: 75px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.review-section-text-2-review-wrapper .text p {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}
.review-section-text-2-review-wrapper .star {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.review-section-text-2-review-wrapper .star p {
  font-weight: 500;
  font-size: 16px;
  line-height: 22.4px;
}

.gram-section-text {
  padding: 80px 50px 50px 50px;
  display: flex;
  justify-content: space-between;
}
.gram-section-text div:nth-child(1) {
  font-weight: 600;
  font-size: 70px;
  line-height: 91px;
}
.gram-section-text div:nth-child(2) {
  font-weight: 500;
  font-size: 20px;
  line-height: 24.42px;
  color: #66463E;
  display: flex;
  align-items: end;
  gap: 6px;
}
.gram-section-text div:nth-child(2) img {
  display: flex;
}
.gram-section-image {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}
.gram-section-image img {
  width: 100%;
}

.footer {
  background-color: #36221d;
  color: white;
}
.footer .offer {
  padding: 60px 50px 50px 50px;
}
.footer .offer-text {
  background: rgba(255, 255, 255, 0.0784313725);
  padding: 40px 60px;
  border-radius: 30px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 81px;
}
.footer .offer-text-1 h6 {
  font-weight: 600;
  font-size: 35px;
  line-height: 60px;
}
.footer .offer-text-2-wrapper {
  background-color: white;
  color: #bababa;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  gap: 89px;
  align-items: center;
  padding: 0 25px;
}
.footer .offer-text-2-wrapper .email {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 33.5px 0;
  gap: 8px;
}
.footer .offer-text-2-wrapper .button button {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #482f28;
  color: white;
  border-radius: 18px;
  padding: 20px 47px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}
.footer .information {
  padding: 0 50px 35px 50px;
  display: flex;
  justify-content: space-between;
}
.footer .information .logo-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .information .logo-card p {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}
.footer .information .general-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer .information .general-info h6 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29.3px;
}
.footer .information .general-info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.09px;
}
.footer .line {
  border: 1px solid #ffffff;
}
.footer .socials {
  display: flex;
  justify-content: space-between;
  padding: 35px 50px 30px 50px;
}
.footer .socials .text {
  font-weight: 400;
  font-size: 20px;
  line-height: 23.86px;
}
.footer .socials .social-logo {
  display: flex;
  gap: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */